@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik&display=swap');

h1, h2, h3, h4, h5, h6, th{
	font-family: 'Rubik', sans-serif;
}

th,td, td .fa{
	font-size: 0.96rem;
	max-width: 200px;
	text-align: center;
	vertical-align: middle!important;
}

td:nth-child(3){
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

a, p, i{
	font-family: 'Montserrat', sans-serif;
}
.card-body{
	max-width: auto;
}

.postBody{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ck-editor__editable {min-height: 500px;}